button {
    color: white;
    font-size: 2em;
    background-color: darkgray; 
    font-weight: bold;  
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.numBtn {
    background-color: rgba(5, 60, 10, 0.797);
}

.fractionalBtns{
    font-size: 1em;
}

#calculator {
    margin: 3vh 0;
    padding: 2vh 2vw;
    background-color: lightgreen;
    border-radius: 10px;
    border: solid black 5px;
}

#backspace {
    font-size: 1.5em;
}

#btnContainer {
    display: grid;
    grid-template-columns: repeat(4, 10vw);
    grid-template-rows: repeat(5, 10vh);
    margin-top: 2vh;
    column-gap: 1vw;
    row-gap: 1vh;
}

#numField {
    display: table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-family: monospace, 'Courier New';
    text-align: right;
    height: 1.75em;
    max-width: 38.8vw;
    width: 38.8vw;
    background-color: lightgray;
    padding: 0 2vw;
    margin-bottom: 1vw;
    border: solid black 0.1vw;
    overflow: auto;
    overflow-y: hidden;
}




@media only screen and (max-width: 600px) {
    .fractionalBtns{
        font-size: 0.85em;
    }
    #btnContainer {
        grid-template-columns: repeat(4, 20vw);
    }

    #numField {
        max-width: 78.8vw;
        width: 78.8vw;
    }

    body {
        align-items: flex-start;
    }
  }